body{
    background: url('img/campus.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#logobg{
    background-color:rgba(255,255,255,0.7) ;
}

.contentbox{
    background-color:rgba(255,255,255,0.7) ;
}

.loginform {
    background-color:rgba(255,255,255,0.7) ;
}

hr {
    size: 5px;
    width:80%;
    margin-top: 5%;
    margin-bottom: 5%;
}

h1{
    color: white;
    font-family: SolexRegular, MyriadPro, Arial;
    text-align: center;
}

form {
    padding: 5%;

}
table, th, td{
    border: 1px solid black;
    word-wrap: normal;
    padding: 5%;
}

