@font-face {
    font-family: 'Solex Regular';
    src: url('SolexRegular.ttf');
}


body{
    background: url('img/campus.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

p{
    /*font-size: 1.2em; */
    font-family:  Verdana;
    color: black;
}

#logobg{
    background-color:rgba(255,255,255,0.7) ;
}

.contentbox{
    background-color:rgba(190,191,195,0.7) ;
}

.loginform {
    background-color:rgba(255,255,255,0.7) ;
}

hr {
    size: 5px;
    width:80%;
    margin-top: 5%;
    margin-bottom: 5%;
}

h1{
    color: white;
    font-family: 'SolexRegular', MyriadPro, Arial;
    text-align: center;
}

h1.bookaroom{
    color:black;
}

form {
    padding: 5%;

}
table.rooms, th.rooms, td.rooms{
    border: 1px solid black;
    word-wrap: normal;
    padding: 15px;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: Verdana;
}

table.logintable, th.logintable, td.logintable{

    word-wrap: normal;
    padding: 5px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left:auto;
    margin-right:auto;


}

th{
font-weight: bold;
}
